{% extends '_base.html' %}
{% load static %}

{% block content %}
<main class="h-screen w-screen overflow-x-hidden">
  <!-- Navbar -->
  {% include 'barberq/components/navbar.html' %}
  <!-- Content -->
  <div class="w-full h-full flex px-14">
    <div class="flex flex-col text-ellipsis items-center w-1/2 h-full justify-center">
      <h1 class="text-5xl font-bold">Bem vindo ao
        <span class="hover:text-blue-500 transition duration-300">BarberQ</span>
        {% if user.is_authenticated %}
        , {{ user.first_name }}{% endif %}!
      </h1>
      <p class="text-md mt-2 text-center text-neutral-600">Agende seus cortes de cabelo e barba de forma simples e
        rápida. Na
        BarberQ, oferecemos um sistema intuitivo para você
        escolher o horário mais conveniente com nossos barbeiros especializados. Experimente a praticidade de agendar
        online e desfrute de serviços de qualidade.</p>
      <button
        class="self-center mt-6 border rounded-sm px-12 py-3 transition duration-300 text-neutral-400 hover:bg-blue-500 hover:text-white">
        <a href="{% url 'reservation' %}">Agendar Agora</a>
      </button>
    </div>
    <div class=" w-1/2 h-full flex justify-center items-center">
      <img class="w-[90%] mx-auto" src="{% static 'images/barber.svg' %}" alt="Imagem de um barbeiro trabalhando">
    </div>
  </div>
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}