{% extends '_base.html' %}

{% load custom_filters %}

{% block head %}
<title>Login</title>
{% endblock head %}

{% block content %}
<main class="h-screen bg-neutral-50 w-screen flex items-center justify-center">
  <div class="px-5 py-8 w-[380px] bg-white shadow-lg rounded-md">
    <h2 class="font-semibold text-3xl text-neutral-600 text-center mb-6">Log in to BarberQ</h2>
    <form method="post">
      {% csrf_token %}
      <label for="{{ form.username.id_for_label }}"
        class="mb-1 font-medium text-sm ml-1 text-neutral-600">Username</label>
      {{ form.username|addclass:'w-full mb-4 rounded py-1 px-3 outline-none border focus:border-blue-500 border-gray-300' }}
      <label for="{{ form.password.id_for_label }}"
        class="mb-1 font-medium text-sm ml-1 text-neutral-600">Password</label>
      {{ form.password|addclass:'w-full rounded py-1 px-3 outline-none border focus:border-blue-500 border-gray-300' }}
      {% if form.non_field_errors %}
      <p class="text-red-400 text-sm mt-4">
        {{ form.non_field_errors|join:", " }}
      </p>
      {% endif %}
      <button type="submit"
        class="w-full mt-5 bg-blue-500 hover:bg-blue-400 transition duration-200 rounded text-white font-bold py-2">
        Log in
      </button>
    </form>
  </div>
</main>
{% endblock content %}