{% load static %}

<header
  class=" w-screen h-[80px] absolute top-0 bg-white shadow-2xl shadow-white flex items-center px-14 justify-between">
  <!-- Logo -->
  <a href="{% url 'home' %}" class="flex items-center">
    <i class="fa fa-scissors" aria-hidden="true"></i>
    <h1 class="text-xl font-bold hover:text-blue-500 transition duration-200">BarberQ</h1>
  </a>

  <!-- Navbar Links -->
  <nav class="flex gap-14">
    <a href="{% url 'home' %}" class="hover:text-neutral-400 transition duration-200">Início</a>
    <a href="{% url 'reservation' %}" class="hover:text-neutral-400 transition duration-200">Agendamento</a>
    <a href="#servicos" class="hover:text-neutral-400 transition duration-200">Serviços</a>
    <a href="#sobre" class="hover:text-neutral-400 transition duration-200">Sobre</a>
    <a href="#contato" class="hover:text-neutral-400 transition duration-200">Contato</a>
  </nav>

  <!-- Date and Logout -->
  <div class="flex items-center gap-3">
    <p class="text-neutral-500 cursor-default" id="header-date"></p>
    <span class="text-neutral-500"></span>
    {% if user.is_authenticated %}
    <a href="" class="fa fa-sign-out cursor-pointer hover:text-neutral-400 transition duration-200" aria-hidden="true"
      onclick="event.preventDefault(); document.getElementById('logout-form').submit();"></a>
    {% else %}
    <a href="{% url 'login' %}" class="fa fa-sign-in cursor-pointer hover:text-neutral-400 transition duration-200"
      aria-hidden="true"></a>
    {% endif %}
  </div>

  <!-- Logout Form -->
  <form id="logout-form" method="POST" action="{% url 'logout' %}" class="hidden">
    {% csrf_token %}
  </form>

  <!-- Script to set the current date -->
  <script>
    // example: 11:59AM • Sun, Dec 12
    function getFormattedDateTime() {
      const monthNames = [
        "jan", "feb", "mar", "apr", "may", "jun",
        "jul", "aug", "sep", "oct", "nov", "dec"
      ];

      const dayNames = [
        "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"
      ];

      const today = new Date();
      const hours = today.getHours();
      const minutes = today.getMinutes();
      const ampm = hours >= 12 ? 'PM' : 'AM';
      const hour12 = hours % 12 || 12;
      const minuteFormatted = minutes < 10 ? `0${minutes}` : minutes;
      const monthName = monthNames[today.getMonth()];
      const dayName = dayNames[today.getDay()];
      const day = today.getDate();

      return `${hour12}:${minuteFormatted}${ampm} • ${dayName}, ${monthName} ${day}`;
    }
    document.getElementById('header-date').innerText = getFormattedDateTime();
  </script>
</header>